.eth {
    position: absolute;
    margin-left: 250px;
    margin-top: 25px;
  }

  .eth1 {
    position: absolute;
    margin-left: 270px;
    margin-top: 5px;
  }

  .search {
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
  }

  .demo-wrap {
    overflow: hidden;
    position: relative;
  }

  .demo-bg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .char {
    width: 40px;
    height: 40px;
  }

  .row1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .myrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px;
  }
  