<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Courgette|Pacifico:400,700">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style/index.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="style/items.css"> -->
  <title></title>
</head>

<body>
              <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand mainlogo" href="#"><img src="image/logo-dark.svg" alt="logo" width="110px;"></a>   
                    <div class="collapse navbar-collapse newbar" id="navbarScroll">
                        <ul class="navbar-nav me-auto my-3 my-lg-0 navbar-nav-scroll"
                            style="--bs-scroll-height: 100px; padding-left: 20px;">
                            <li class="nav-item mx-2">
                                <div class="dropdown">
                                    <a class="ab nav-link active" aria-current="page" href="/">Home</a>
                                </div>
                            </li>
                            <li class="nav-item mx-2">
                                <div class="dropdown">
                                    <a class="nav-link active " aria-current="page" href="/create">Create </a>
                                </div>
                            </li>
                            <li class="nav-item mx-2">
                                <div class="dropdown">
                                    <a class="nav-link active" aria-current="page" href="/listed_nft">Listed Nfts</a>
                                </div>
                            </li>
                            <li class="nav-item mx-2">
                                <div class="dropdown">
                                    <a class="nav-link active " aria-current="page" href="/my_purchase">Purchased Nfts</a>
                                </div>
                            </li>
                            <li class="nav-item mx-2">
                                <div class="dropdown">
                                    <a class="nav-link active " aria-current="page" href="#">Account</a>
                                    <div class="dropdown-content">
                                        <a href="#">Profile</a>
                                        <a href="/create">Create Nfts</a>
                                        <a href="/listed_nft">My Items</a>
                                        <a href="/my_purchase">My Purchases</a>

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="search p-2 mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="search">
                            <span id="connected_account" style="font-size: 9px;">
                                <% if(session != undefined) { %>
                                    <%= session.accountId %>            
                                <% } %>
                            </span>
                            <img src="image/magnifying-glass-solid.svg" alt="search" width="20px;">
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" style="margin-left:auto;"
                        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex" style="flex-wrap: wrap;">
                        <div class="p-2 mx-2 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Accounts">
                            <a href="/metamaskc"><img class=" navimg" src="image/profile.png" alt="profile" width="22px;"></a>
                        </div>

                        <!-- <div class="p-2 mx-2"><button style="background-color: rgb(47, 43, 97);" type="button"
                                class="btn text-light navbtn" id="wallet">connect wallet</button></div>
 -->
                        <% if(session == undefined) { %>
                              <div class="p-2 mx-2"><button style="background-color: rgb(47, 43, 97);" type="button"
                                class="btn text-light navbtn" id="wallet">connect wallet</button></div>
                        <% }%>
                        
                        <% if(session != undefined) { %>
                                <% if(session.accountId != undefined) { %>
                                    <div class="p-2 mx-2"><button style="background-color: rgb(47, 43, 97);" type="button"
                                    class="btn text-light navbtn" id="dwallet">Disconnect wallet</button></div>
                                <% } %>
                        <% }%>
                        
                        

                    </div>
                </div>
            </nav>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script/web.js"></script>

  </body>
</html>